<%- include('../partials/header') %>

<div class="mx-auto text-center" id=list style="width: 750px;">
        <h1>Beach List</h1>
        <table>
            <thead>
                <tr>
                    <th>Beach</th>
                    <th>Location</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <% beaches.forEach(function(b) { %>
                    <tr>                        
                            <td id="beaches"><%= b.beach %></td>
                            <td><%= b.location %></td>
                            <td><%= b.address %></td>
                            <td><a href="/beaches/<%= b._id %>">Reviews</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>

<%- include('../partials/footer') %>