<%- include('../partials/header') %>

<div class="mx-auto" style="width: 200px;">
        <h1>Beach List</h1>
        <table>
            <thead>
                <tr>
                    <th>Beach</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <% beaches.forEach(function(b) { %>
                    <tr>
                        <td><%= b.beach %></td>
                        <td><%= b.location %></td>
                        <td><a href="/beaches/<%= b._id %>">DETAILS</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>

<%- include('../partials/footer') %>